{% extends 'base.html' %} 
{% block content %}
<div>
    <div class="card-content">
        <span class="card-title">{{ group.name }}</span>
        <p>Description: {{ group.description }}</p>
    </div>
    <div class="card-action">
        {% if user not in group.members.all %}
            <form method="post" action="{% url 'join_group' group.id %}">
                {% csrf_token %}
                <button type="submit" class="submit-link">Join</button>
            </form>
        {% else %}
            {% if group.userpost_set.count %}
                {% for userpost in group.userpost_set.all %}
                    <p>{{ userpost.content }}</p>
                    <p>Posted by: {{ userpost.user.username }}</p>
                    <div>
                        {% for photo in userpost.photo_set.all %}
                        <img class="responsive-img card-panel" src="{{photo.url}}" />
                        {% empty %}
                        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                        {% endfor %}
                      </div>
                    {% if user == userpost.user %}
                        <!-- If the current user is the author of the post, display options to update or delete the post -->
                        <form action="{% url 'post_delete' userpost.id %}" method="POST">
                            {% csrf_token %}
                            <input class="btn" type="submit" value="Delete" />
                        </form>
                        <a href="{% url 'post_update' userpost.id %}">Update</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h2>nothing to see here</h2>
            {% endif %}
            <a href="{% url 'post_create' group.id %}">Create Post</a>
        {% endif %}
    </div>
</div>
{% endblock %}

